body {
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

svg {
  height: 120px;
}

.table {
  background-color: rgba(250,250,250,.6) !important;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.google-maps {
  height: 200px;
  width: 250px;
}

.btn-secondary {
  background-color: #ddce5a !important;
  border-color: #c8ba4e !important;
}

.btn-secondary:hover {
  background-color: #cec054 !important;

}